.contact {
    display: block;
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    box-sizing: border-box;
    // text-decoration: none;

    &__title {
        font-size: 40px;
        text-align: center;

    }

    &__subtitle {
        margin: 0;
        text-align: center;
        padding-top: 15px;

    }

    input[type=text] {
        width: 100%;
        padding: 10px 25px;
        box-sizing: border-box;
        margin-bottom: 10px;
      }

      input[type=text]:focus {
        border: 1px solid #555;
      }

      textarea {
        width: 100%;
        height: 150px;
        padding: 10px 25px;
        box-sizing: border-box;
        border-radius: 6px;
        resize: none;
        margin-bottom: 10px;
      }

    .formz {
        display: flex;
        padding-top: 50px;
    }

    .fieldname {
    height: 100%;
    width: 100%;
    border-radius: 6px;
    outline: none;
    margin-right: 30px;
    }

    .fieldemail {
    height: 100%;
    width: 100%;
    border-radius: 6px;
    outline: none;

    }

}

input[type=submit] {
        background-color: var(--dangerColor);
        border: 1px;
        color: white;
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        margin-left: 50%;
        border-radius: 7;

}

input[type=submit]:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border: 1px solid var(--dangerColor);
    background-color: white;
    color: var(--dangerColor);

}


.formcontact {
        width: 700px;
        height: auto;
        padding: 30px;
        text-align: center;

    &__input {
        margin: 0;
        &__label {
            margin: 0;
        }
    }

    &__message {
        margin: 0;
    }

    &__button {
        margin: 0;

    }

}
