<!-- Ini adalah HTML untuk halaman index.html -->
<!-- Sisipkan HTML bagian header di sini, dan juga file CSS yang dibutuhkan -->
@@include('../shared/header.html', {
    "style": [
      "assets/css/main.css"
    ]
  })
  <!-- bagian header selesai -->
  
  <!-- Tulis semua coding kalian mulai dari sini -->
<!-- contact section start -->
<main id="contact" class="contact">
    <h2 class="contact__title">Contact me</h2>
    
    <section class="contact__top">
        <h3 class="contact__subtitle">Message me</h3>
        <!-- <div class="formz">
          <input type="text" id="fname" name="fname" value="John"><br>
  
          <input type="text" id="lname" name="lname" value="Doe"><br><br>
          <input type="submit">
        </div> -->

        <form action="">
          <div class="formz">
            <div class="fieldname">
              <input type="text" id="fname" name="fname" value="" placeholder="Nama">
            </div>
            <div class="fieldemail">
              <input type="text" id="lname" name="lname" value="" placeholder="Email">
            </div>            
          </div>
          <input type="text" id="lname" name="lname" value="" placeholder="Subject">
          <textarea placeholder="Message"></textarea>
          <input type="submit" value="Submit">
        </form>
    </section>
</main>
  <!-- Penulisan coding selesai di sini -->
  
  
  <!-- Sisipkan HTML bagian footer di sini, dan juga file JS yang dibutuhkan -->
  @@include('../shared/footer.html', {
    "script": [
      "assets/js/app.min.js"
    ]
  })
  <!-- bagian footer selesai -->