<!-- Ini adalah HTML untuk halaman index.html -->
<!-- Sisipkan HTML bagian header di sini, dan juga file CSS yang dibutuhkan -->
@@include('../shared/header.html', {
  "style": [
    "assets/css/main.css"
  ]
})
<!-- bagian header selesai -->

<!-- Tulis semua coding kalian mulai dari sini -->
<main class="homepage" id="homepage">

    <div class="hero-image">
        <img src="./assets/images/profile-1.png">
        <div class="hero-text">
            Fadel Kevin Wiratama
            <input type="submit" value="Call Me">
            
        </div>
    </div>

<!-- about section start -->
<section class="about">
    <h1 class="title">About Me</h1>
        <div>
            <div class="judul-nama">I'm Fadel</div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ut voluptatum eveniet doloremque autem excepturi eaque, sit laboriosam voluptatem nisi delectus. Facere explicabo hic minus accusamus alias fuga nihil dolorum quae. Explicabo illo unde, odio consequatur ipsam possimus veritatis, placeat, ab molestiae velit inventore exercitationem consequuntur blanditiis omnis beatae. Dolor iste excepturi ratione soluta quas culpa voluptatum repudiandae harum non.</p>
        </div>
</section>

<!-- about section start -->
<section class="about">
    <h1 class="title">My Skill</h1>
    <div class="row">
        <div class="column">
            <div class="card">
            <h3>HTML</h3>
            </div>
        </div>

        <div class="column">
            <div class="card">
            <h3>CSS</h3>
            </div>
        </div>

        <div class="column">
            <div class="card">
            <h3>JAVASCRIPT</h3>
            </div>
        </div>
    </div>
</section>
</main>
<!-- Penulisan coding selesai di sini -->


<!-- Sisipkan HTML bagian footer di sini, dan juga file JS yang dibutuhkan -->
@@include('../shared/footer.html', {
  "script": [
    "assets/js/app.min.js"
  ]
})
<!-- bagian footer selesai -->