<!-- Ini adalah HTML untuk halaman index.html -->
<!-- Sisipkan HTML bagian header di sini, dan juga file CSS yang dibutuhkan -->
@@include('../shared/header.html', {
    "style": [
      "assets/css/main.css"
    ]
  })
  <!-- bagian header selesai -->
  
  <!-- Tulis semua coding kalian mulai dari sini -->
    <!-- services section start -->
<main id="portfolio" class="portfolio">
  <h2>My Project</h2>

<div class="cardz">
  <img src="https://cdn.dribbble.com/users/8037018/screenshots/17584078/media/1f2dab8b487c0ce8afcb7f64ec712acd.jpg?compress=1&resize=1200x900&vertical=top" style="width: 100%;">
  <div class="cardz__container">
    <h2>Nama Project</h2>
    <h5>Jenis Project</h5>
    <div class="plot">
        <div class="cardz__plot2">
          <img src="https://cdn.dribbble.com/users/8037018/screenshots/17584078/media/1f2dab8b487c0ce8afcb7f64ec712acd.jpg?compress=1&resize=1200x900&vertical=top">
          <img src="https://cdn.dribbble.com/users/8037018/screenshots/17584078/media/1f2dab8b487c0ce8afcb7f64ec712acd.jpg?compress=1&resize=1200x900&vertical=top">
        </div>
        <div class="cardz__plot3">
          tes
        </div>
    </div>
  </div>
</div>

<div class="cardz">
  <img src="https://cdn.dribbble.com/users/8037018/screenshots/17584078/media/1f2dab8b487c0ce8afcb7f64ec712acd.jpg?compress=1&resize=1200x900&vertical=top" style="width: 100%;">
  <div class="cardz__container">
    <h2>Nama Project</h2>
    <h5>Jenis Project</h5>
    <div class="plot">
        <div class="cardz__plot2">
          <img src="https://cdn.dribbble.com/users/8037018/screenshots/17584078/media/1f2dab8b487c0ce8afcb7f64ec712acd.jpg?compress=1&resize=1200x900&vertical=top">
          <img src="https://cdn.dribbble.com/users/8037018/screenshots/17584078/media/1f2dab8b487c0ce8afcb7f64ec712acd.jpg?compress=1&resize=1200x900&vertical=top">
        </div>
        <div class="cardz__plot3">
          tes
        </div>
    </div>
  </div>
</div>

<div class="cardz">
  <a href="contact.html">
      <img src="https://cdn.dribbble.com/users/8037018/screenshots/17584078/media/1f2dab8b487c0ce8afcb7f64ec712acd.jpg?compress=1&resize=1200x900&vertical=top" style="width: 100%;">
      <div class="cardz__container">
        <h2>Nama Project</h2>
        <h5>Jenis Project</h5>
        <div class="plot">
            <div class="cardz__plot2">
              <img src="https://cdn.dribbble.com/users/8037018/screenshots/17584078/media/1f2dab8b487c0ce8afcb7f64ec712acd.jpg?compress=1&resize=1200x900&vertical=top">
              <img src="https://cdn.dribbble.com/users/8037018/screenshots/17584078/media/1f2dab8b487c0ce8afcb7f64ec712acd.jpg?compress=1&resize=1200x900&vertical=top">
            </div>
            <div class="cardz__plot3">
              tes
            </div>
        </div>
      </div>
  </a>
</div>
 
<div class="cardz">
  <img src="https://cdn.dribbble.com/users/8037018/screenshots/17584078/media/1f2dab8b487c0ce8afcb7f64ec712acd.jpg?compress=1&resize=1200x900&vertical=top" style="width: 100%;">
  <div class="cardz__container">
    <h2>Nama Project</h2>
    <h5>Jenis Project</h5>
    <div class="plot">
        <div class="cardz__plot2">
          <img src="https://cdn.dribbble.com/users/8037018/screenshots/17584078/media/1f2dab8b487c0ce8afcb7f64ec712acd.jpg?compress=1&resize=1200x900&vertical=top">
          <img src="https://cdn.dribbble.com/users/8037018/screenshots/17584078/media/1f2dab8b487c0ce8afcb7f64ec712acd.jpg?compress=1&resize=1200x900&vertical=top">
        </div>
        <div class="cardz__plot3">
          tes
        </div>
    </div>
  </div>
</div>

<div class="cardz">
  <img src="https://cdn.dribbble.com/users/8037018/screenshots/17584078/media/1f2dab8b487c0ce8afcb7f64ec712acd.jpg?compress=1&resize=1200x900&vertical=top" style="width: 100%;">
  <div class="cardz__container">
    <h2>Nama Project</h2>
    <h5>Jenis Project</h5>
    <div class="plot">
        <div class="cardz__plot2">
          <img src="https://cdn.dribbble.com/users/8037018/screenshots/17584078/media/1f2dab8b487c0ce8afcb7f64ec712acd.jpg?compress=1&resize=1200x900&vertical=top">
          <img src="https://cdn.dribbble.com/users/8037018/screenshots/17584078/media/1f2dab8b487c0ce8afcb7f64ec712acd.jpg?compress=1&resize=1200x900&vertical=top">
        </div>
        <div class="cardz__plot3">
          tes
        </div>
    </div>
  </div>
</div>

<div class="cardz">
  <img src="https://cdn.dribbble.com/users/8037018/screenshots/17584078/media/1f2dab8b487c0ce8afcb7f64ec712acd.jpg?compress=1&resize=1200x900&vertical=top" style="width: 100%;">
  <div class="cardz__container">
    <h2>Nama Project</h2>
    <h5>Jenis Project</h5>
    <div class="plot">
        <div class="cardz__plot2">
          <img src="https://cdn.dribbble.com/users/8037018/screenshots/17584078/media/1f2dab8b487c0ce8afcb7f64ec712acd.jpg?compress=1&resize=1200x900&vertical=top">
          <img src="https://cdn.dribbble.com/users/8037018/screenshots/17584078/media/1f2dab8b487c0ce8afcb7f64ec712acd.jpg?compress=1&resize=1200x900&vertical=top">
        </div>
        <div class="cardz__plot3">
          tes
        </div>
    </div>
  </div>
</div>

</main>
  <!-- Penulisan coding selesai di sini -->
  
  
  <!-- Sisipkan HTML bagian footer di sini, dan juga file JS yang dibutuhkan -->
  @@include('../shared/footer.html', {
    "script": [
      "assets/js/app.min.js"
    ]
  })
  <!-- bagian footer selesai -->